@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --dark-gray: #1F1F1F;
    --dark-gray-2: #474747;
    --dark-gray-3: #666666;
    --light-gray: #8F8F8F;
    --light-gray-2: #CCCCCC;
    --light-gray-3: #F5F5F5;
    --white: #FFFFFF;
    --primary-color: #C92071;
    --secondary-color: #B5B6F2;
    --tertiary-color: #991956;
    --error-color: #EE4266;
    --success-color: #52CA76;
    --warning-color: #F6AA1C;
    --primary-gradient: 180deg,#C92071, #EDABCA;
    --secondary-gradient: 180deg, #B5B6F2, #EFEFFF;
}

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

main {
    background-color: #F9F8FE;
}